{% extends 'shop/_layouts/main' %}
{% includecssresource "commerce/charts-explorer.css" %}

{% block main %}
    <div class="row">
    {% if currentUser %}
        <div class="twelve columns">
            <div class="one-half column">
                <h1>My Wallet</h1>
            </div>
            <div class="one-half column">
                <a class="button button-primary right" href="{{ token_view_url }}" target="_blank"><i class="fa fa-info-circle" aria-hidden="true"></i> {{ symbol }} token details</a>
            </div>
            <table class="u-full-width">
                <thead>
                <tr>
                    <th>{{ "Wallet ID"|t }}</th>
                    <th colspan="3">{{ "Token balance"|t }}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                    {% if view_url is defined %}
                        <a href="{{ view_url }}" target="_blank">
                    {% endif %}
                            <i class="fa fa-university" aria-hidden="true"></i> {{ id }}
                    {% if view_url is defined %}
                        </a>
                    {% endif %}
                    </td>
                    <td>{{ token_balance|round(2, 'floor') }} {{ symbol }}</td>
                    <td>{{ ost_value|round(2, 'floor') }} OST</td>
                    <td>&asymp; {{ usd_value|round(2, 'floor') }} USD</td>
                </tr>
                </tbody>
            </table>
        </div>
        </div>

        <div class="row">
            <h3>Transaction history</h3>

            <table class="u-full-width">
                <thead>
                <tr>
                    <th>{{ "Timestamp"|t }}</th>
                    <th>{{ "Transaction details"|t }}</th>
                    <th colspan="3">{{ "Monetary value"|t }}</th>
                </tr>
                </thead>
                <tbody>
                {% for transaction in  craft.ostLoyaltyTokens.transactions %}
                    <tr>
                    {% if transaction.timestamp is defined %}
                    {% set timestamp = (transaction.timestamp / 1000)|round(0, 'floor') %}
                        <td>{{ timestamp|date("j M Y - G:i:s T") }}</td>
                    {% else %}
                        <td>N/A</td>
                    {% endif %}
                        <td>
                        {% if transaction.view_url is defined %}
                            <a href="{{ transaction.view_url }}" target="_blank">
                        {% endif %}
                        {% if transaction.from_user_id == uuid %}
                            <i class="fa fa-sign-out" aria-hidden="true"></i> Sent to Company
                        {% else %}
                            <i class="fa fa-sign-in" aria-hidden="true"></i> Received from Company
                        {% endif %}
                        {% if transaction.view_url is defined %}
                            </a>
                        {% endif %}
                        </td>
                        <td>{{ transaction.amount|round(2, 'floor') }} {{ symbol }}</td>
                        <td>{{ transaction.ost_value|round(2, 'floor') }} OST</td>
                        <td>&asymp; {{ transaction.usd_value|round(2, 'floor') }} USD</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
    </div>
{% endblock %}
