{#
/**
 * OST Loyalty Tokens plugin for Craft CMS
 *
 * OST Loyalty Tokens Settings.twig
 *
 * @author    Jay Nay
 * @copyright Copyright (c) 2018 Jay Nay
 * @link      https://github.com/realJayNay
 * @package   OstLoyaltyTokens
 * @since     0.9.2
 */
#}

{% import "_includes/forms" as forms %}

{% includeCssResource "ostloyaltytokens/css/OstLoyaltyTokens_Style.css" %}
{% includeJsResource "ostloyaltytokens/js/OstLoyaltyTokens_Script.js" %}

<h3>OST KIT - API configuration</h3>
{{ forms.textField({
    label: 'OST KIT - API key',
    instructions: 'Enter the API key for your OST KIT account. This can be found in the OST KIT developer API console: https://kit.ost.com/developer-api-console.',
    id: 'api_key',
    name: 'api_key',
    required: true,
    type: 'password',
    value: settings['api_key']}) }}

{{ forms.textField({
    label: 'OST KIT - API secret',
    instructions: 'Enter the API secret for your OST KIT account. This can be found in the OST KIT developer API console: https://kit.ost.com/developer-api-console.',
    id: 'secret',
    name: 'secret',
    required: true,
    type: 'password',
    value: settings['secret']}) }}

<h3>OST KIT - Advanced configuration</h3>
{{ forms.textField({
    label: 'OST KIT - REST base URL',
    instructions: 'Enter the base URL for the OST KIT REST endpoints.',
    id: 'base_url',
    name: 'base_url',
    value: settings['base_url']}) }}

{{ forms.textField({
    label: 'OST KIT - Reward transaction type',
    instructions: 'Enter the name of your Branded Token\'s Company-to-User transaction type that should be applied when assigning loyalty points.',
    id: 'company_to_user_transaction_type',
    name: 'company_to_user_transaction_type',
    required: true,
    value: settings['company_to_user_transaction_type']}) }}

{{ forms.textField({
    label: 'OST KIT - Refund transaction type',
    instructions: 'Enter the name of your Branded Token\'s User-to-Company transaction type that should be applied when returning loyalty points to the company in case an order payment is refunded.',
    id: 'user_to_company_transaction_type',
    name: 'user_to_company_transaction_type',
    required: true,
    value: settings['user_to_company_transaction_type']}) }}

<h3>Verbose logging</h3>
{{ forms.lightswitch({
    onLabel:    "On",
    offLabel:   "Off",
    name:       "debug",
    on:         settings['debug'],}) }}
